@media screen and (max-width:1200px) {
    .banner-image {
        height: 530px;
    }
    .pages-banner-image {
        height: 400px;
    }
    .pages-banner-text h1 {
        font-size: 38px;
    }

    .home-menu-cards-image {
        height: 300px;
    }

    .s1 .home-books-card {
        height: 380px;
    }

    .s2 .home-books-card:hover .home-books-card-content {
        top: 25%;
    }
}

@media screen and (max-width:991px) {
    .main-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateY(100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .main-menu {
        transform: translateY(0);
        justify-content: flex-start;
    }

    .main-menu ul {
        flex-direction: column;

    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 55;
    }

    .banner-image {
        height: 420px;
    }
  

    .banner-text h1 {
        font-size: 50px;
    }
    .pages-banner-text h1 {
        font-size: 34px;
    }

    .banner-text h3 {
        font-size: 25px;
        max-width: 440px;
    }

    .home-menu-cards {
        width: 48%;
        margin-bottom: 35px;
    }

    .home-menu-cards:nth-child(3),
    .home-menu-cards:nth-child(4) {
        margin-bottom: 0;
    }

    .s1 .home-books-card {
        height: 320px;
    }

    .s1 .home-books-card:hover .home-books-card-content {
        top: 0;
    }

    input.pages-signup-input {
        width: 50%;
    }

    .home-books-card-content p {
        font-size: 15px;
    }

    .home-books-card-content h4 {
        margin: 10px 0;
    }

    .s2 .home-books-card {
        height: 310px;
        width: 47%;
        margin-bottom: 30px;
    }

    .s2 .home-books-card:nth-child(3),
    .s2 .home-books-card:nth-child(4) {
        margin-bottom: 0;
    }

    .s2 .home-books-card:hover .home-books-card-content {
        top: 30%;
    }

    .home-why-choose-us-cards p {
        font-size: 15px;
    }

    .home-why-choose-us-cards {
        width: 48%;
    }

    .home-why-choose-us-cards:nth-child(5),
    .home-why-choose-us-cards:nth-child(6) {
        margin-bottom: 0;
    }
    .accordion .bottom .text p {
        font-size: 15px;
    }
    .footer-items h3 {
        font-size: 26px;
    }
    .disclaimer p {
        font-size: 15px;
    }
    .copyright p {
        font-size: 13px;
    }
    .disclaimer h3 {
        font-size: 18px;
    }
    .pages-intro-wrapper p {
        font-size: 15px;
    }
    .pages-cards-content p {
        font-size: 15px;
    }
    .btn-darkred-block, .external-pages-link-btn {
        font-size: 15px;
    }
    .pages-cards-image {
        height: 330px;
    }
    .sub-pages-group p {
        font-size: 15px;
    }
    .sub-pages-group h3 {
        font-size: 25px;
    }
    .sub-pages-group h4 {
        font-size: 17px;
    }
    .sub-pages-group p a {
        font-size: 16px;
    }
    .social-icons {
        justify-content: flex-start;
    }
}




@media screen and (max-width:767px) {
    .top-logo img {
        max-width: 260px;
    }
    .pages-banner-image {
        height: 350px;
    }

    .banner-image {
        height: 370px;
    }

    .banner-text h1 {
        font-size: 45px;
    }
    .pages-banner-text h1 {
        font-size: 32px;
    }

    .banner-text h3 {
        font-size: 23px;
        max-width: 400px;
    }

    .home-menu-cards-image {
        height: 290px;
    }

    .home-menu-cards {
        width: 48%;
    }

    .s1 .home-books-card {
        height: 270px;
        width: 48%;
        margin-bottom: 30px;
    }

    .s1 .home-books-card:hover .home-books-card-content {
        top: 0;
    }

    .s1 .home-books-card:last-child {
        margin-bottom: 0;
        width: 100%;
    }

    .pages-signup-wrapper h3 {
        font-size: 24px;
    }

    input.pages-signup-input {
        width: 90%;
        border-radius: 10px;
        padding: 12px 25px;
    }

    .pages-signup-submit-button {
        border-radius: 10px;
        margin-top: 15px;
        padding: 12px 25px;
    }

    h2.section-heading {
        font-size: 35px;
    }

    .py-5 {
        padding: 35px 0;
    }

    .pt-5 {
        padding-top: 35px;
    }

    .pb-5 {
        padding-bottom: 35px;
    }

    .s2 .home-books-card {
        height: 290px;
        width: 47%;
        margin-bottom: 30px;
    }

    .s2 .home-books-card:hover .home-books-card-content {
        top: 0%;
    }
    .accordion .top .text {
        font-size: 15px;
    }
    .footer-items h3 {
        font-size: 20px;
    }
    .footer .footer-items ul li a {
        font-size: 16px;
    }
    .logo-bottom {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-connect,.footer-links {
        width: 50%;
    }
     
    .social-icons {
        justify-content: flex-start;
    }

    .pages-cards-image {
        height: 250px;
    }
    .pages-cards-content h3 {
        font-size: 22px;
    }
    .pages-cards-content h4 {
        font-size: 15px;
    }
    .text-left {
        gap: 10px;
    }
    .pages-cards-content p {
        font-size: 14px;
    }
    .btn-darkred-block, .external-pages-link-btn {
        padding: 9px 8px;
    }
    .sub-pages-group h3 {
        font-size: 23px;
    }
}

@media screen and (max-width:575px) {
    .top-logo img {
        max-width: 240px;
    }

    .banner-text h1 {
        font-size: 42px;
    }
    .pages-banner-text h1 {
        font-size: 30px;
    }

    .banner-text h3 {
        font-size: 20px;
        max-width: 350px;
    }

    .banner-image {
        height: 320px;
    }
    .pages-banner-image {
        height: 270px;
    }

    .home-menu-cards-image {
        height: 240px;
    }

    .s1 .home-books-card {
        width: 100%;
        height: 280px;
        margin-bottom: 30px;
    }

    .pages-signup-wrapper h3 {
        font-size: 22px;
    }

    input.pages-signup-input {
        padding: 11px 25px;
    }

    .pages-signup-submit-button {
        padding: 11px 25px;
    }

    h2.section-heading {
        font-size: 30px;
    }

    .s2 .home-books-card {
        height: 250px;
        width: 47%;
        margin-bottom: 30px;
    }

    .home-why-choose-us-cards p {
        font-size: 14px;
    }

    .home-why-choose-us-cards h3 {
        font-size: 17px;
    }
    .accordion .top .text {
        font-size: 14px;
    }
    .accordion .bottom .text p {
        font-size: 14px;
    }
    .footer-items h3 {
        font-size: 22px;
    }
    .disclaimer h3 {
        font-size: 16px;
    }

    .logo-bottom img {
        max-width: 250px;
    }
    .disclaimer p {
        font-size: 13px;
    }
    .copyright p {
        font-size: 12px;
    }
    .pages-intro-wrapper p {
        font-size: 14px;
        font-weight: 400;
    }
    .pages-cards {
        width: 100%;
    }
    .pages-cards-image {
        height: 250px;
    }
    .pages-cards-content h3 {
        font-size: 21px;
    }
    .pages-cards-content h4 {
        font-size: 17px;
    }
    .btn-darkred-block, .external-pages-link-btn {
        font-size: 14px;
    }
    .sub-pages-group p {
        font-size: 14px;
    }
    .sub-pages-group h3 {
        font-size: 21px;
    }
    .sub-pages-group h4 {
        font-size: 16px;
    }
    .sub-pages-group p a {
        font-size: 15px;
    }

}

@media screen and (max-width:480px) {
    .top-logo img {
        max-width: 210px;
    }

    .banner-text h1 {
        font-size: 32px;
    }
    .pages-banner-text h1 {
        font-size: 27px;
    }

    .banner-text h3 {
        font-size: 17px;
        max-width: 300px;
    }

    .banner-image {
        height: 260px;
    }
    .pages-banner-image {
        height: 220px;
    }
    .home-menu-cards {
        width: 100%;
    }

    .pages-signup-wrapper h3 {
        font-size: 20px;
    }

    input.pages-signup-input {
        width: 90%;
    }

    .home-menu-cards:nth-child(3) {
        margin-bottom: 30px;
    }

    h2.section-heading {
        font-size: 22px;
    }

    .s2 .home-books-card {
        height: 250px;
        width: 100%;
    }

    .s2 .home-books-card:last-child {
        margin-bottom: 0;
    }
    .s2 .home-books-card:nth-child(3){
        margin-bottom: 30px;
    }

    .s2 .home-books-card:nth-child(4) {
        margin-bottom: 0;
    }
    

    .s1 .home-books-card-image img,
    .s2 .home-books-card-image img {
        object-position: 0% 0%;
    }

    .home-why-choose-us-cards {
        width: 100%;
    }

    .home-why-choose-us-cards h3 {
        font-size: 18px;
    }
    .home-why-choose-us-cards:nth-child(5) {
        margin-bottom: 30px;
    }
    .accordion .top .text {
        font-size: 13px;
    }
    .footer-items {
        width: 100%;
        margin-bottom: 30px;
    }
    .logo-bottom img {
        max-width: 230px;
    }
  
      .pages-cards-image {
        height: 220px;
    }
    .pages-cards-content h3 {
        font-size: 18px;
    }
    .pages-cards-content h4 {
        font-size: 14px;
    }
    .btn-darkred-block, .external-pages-link-btn {
        padding: 8px 10px;
    }
    .sub-pages-group {
        padding: 15px;
    }
    .sub-pages-group h3 {
        font-size: 19px;
    }



}